/*****************
 * Site Variables
 */
 
$color-brand: #1f5594;
$color-white: #fff;
$color-black: #000;
$color-text: #333;
$color-green: #00ab66;
$color-gray: #f9f9f9;
$color-darkblue: #112f53;

$font-size-base: 14px;

$font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Source Sans Pro", Georgia, "Times New Roman", Times, serif;